<% include templates/head %>
  <body class='container-fluid d-flex flex-column'>
      
    <div class="wrapper container p-2 flex-fill d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="intro col-12 text-center p-4 my-4">
            <h1>Welcome to Matcha</h1>
            <p class="greyText">A safe heaven for anyone seeking <i class="fa fa-heart"></i></p>
          </div>
          <% if (locals.error) { %>
              <div class="card bg-dark status col-12">
                <div class="card-body text-center">
                  <%= error %>.
                </div>
              </div>
          <% } %>
          <% include templates/register %>
          <% include templates/login %>
          <div class="col-12 btn-group" role="group">
            <div class="col-6 btn btn-dark register">Register</div>
            <div class="col-6 btn btn-dark login">Sign in</div>
          </div>
          
        </div>

      </div>
      </div>
      
    </div>
    <% include templates/footer %>