<% include templates/head %>
  <body class='container-fluid d-flex flex-column'>
    <% include templates/dashHeader %>

    <div class="wrapper container p-2 flex-fill d-flex align-items-center">
      <div class="container dashboard">
        <div class="row">
            <% include templates/profile %>
        </div>
      </div>
    </div>
  <% include templates/footer %>