<% include templates/head %>
  <body class='container-fluid d-flex flex-column'>
      
    <div class="wrapper container p-2 flex-fill d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="intro col-12 text-center p-4 my-4">
            <h1>Reset Your Password!</h1>
          </div>
          <div class="col-12 btn-group" role="group">
              <% include templates/reset %>
          </div>
          
        </div>

      </div>
      </div>
      
    </div>
    <% include templates/footer %>