<div class="col-12 col-sm-6 py-4 px-2">
    <h3 class="text-center mb-4">Sign in</h3>
    <form id="login">
        <div class="input-group mb-3 border-dark">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control tranparent" placeholder="email" name="email" aria-describedby="email" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" class="form-control tranparent" placeholder="password" name="password" aria-describedby="password" required>
              </div>
              <input type="submit" value="Sign in" class="btn btn-dark" id="loginBtn">
    </form>

</div>
