* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: dimgray;
    color: rgba(255, 255, 255, 0.781);
}

.tranparent {
    outline: none;
    background-color: transparent !important;
    color: rgba(255, 255, 255, 0.781);
    border: 1px solid gray;
}

.tranparent:focus {
  color:white;
}
.tranparent::placeholder {
    color: #343a40;
    font-weight: bold;
}
#registerBtn, #loginBtn, #profilePic {
    display: none;
}

.selectPic {
    border-bottom: #8d2663 solid 1px;
}
.selectPic:hover {
    color: #393a3c70;
    border-bottom: #343a40 solid 1px;
    cursor: pointer;
}
i {
    color: #8d2663;
}

.greyText {
    color : #ababab;
}

.gallery {
    width: 100%;
}

.picture {
    width: 100%;
    padding-bottom: 100%;
    margin: auto;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    border-radius: 50%;

    background-color: black;
}

.picThumb {
    width: 98%;
    padding-bottom: 49%;
    margin: auto;

    position: relative;
    box-shadow: 0px 6px 18px 1px rgba(150,150,150,0.4);
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: cover !important;
    border: #ababab thick solid;
    background-color: black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #252525; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.imagePreview, .nextButton, .aboutBody, .registerStatusButton, .hidden {
    display: none;
}

.profileBoard {
    border: #696969 solid thin;
    background-color: #343a40;
    border-radius: 5px;
    padding: 1em;
}

.underline{
    border-top: #8d2663 groove thin;
}

.profileImage, .deleteImage{
    cursor: pointer;
}